{namespace snowbabel=Snowflake\Snowbabel\ViewHelpers}
<f:format.raw>
<snowbabel:container
        loadExtJs="true"
        loadExtJsTheme="true"
        enableExtJsDebug="false"
        includeCssFiles="{
            0: '{f:uri.resource(path:\'Css/Translation.css\')}'
        }"
        includeJsFiles="{
            0: 'ajax.php?ajaxID=ExtDirect::getAPI&namespace=TYPO3.Snowbabel',
            1: '{f:uri.resource(path:\'JavaScript/Ux/SearchField.js\')}',
            2: '{f:uri.resource(path:\'JavaScript/Ux/Spotlight.js\')}',
            3: '{f:uri.resource(path:\'{snowbabel_generals_path}\')}',
            4: '{f:uri.resource(path:\'JavaScript/Translation/snowbabel_listview.js\')}',
            5: '{f:uri.resource(path:\'JavaScript/Translation/snowbabel_columnselection.js\')}',
            6: '{f:uri.resource(path:\'JavaScript/Translation/snowbabel_languageselection.js\')}',
            7: '{f:uri.resource(path:\'JavaScript/Translation/snowbabel_extensionmenu.js\')}',
            8: '{f:uri.resource(path:\'JavaScript/Translation/snowbabel_viewports.js\')}',
            9: '{f:uri.resource(path:\'JavaScript/Translation/snowbabel_app.js\')}'
        }"
        addJsInlineFile="EXT:snowbabel/Resources/Private/Language/locallang_translation.xlf" />
</f:format.raw>