{namespace snowbabel=Snowflake\Snowbabel\ViewHelpers}
<f:format.raw>
	<snowbabel:container
			loadExtJs="true"
			loadExtJsTheme="true"
			enableExtJsDebug="false"
			includeCssFiles="{
            0: '{f:uri.resource(path:\'Css/Translation.css\')}'
        }"
			includeJsFiles="{
            0: '{f:uri.resource(path:\'JavaScript/Ux/SearchField.js\')}',
            1: '{f:uri.resource(path:\'JavaScript/Ux/Spotlight.js\')}',
            2: '{f:uri.resource(path:\'{snowbabel_generals_path}\')}',
            3: '{f:uri.resource(path:\'JavaScript/Translation/snowbabel_listview.js\')}',
            4: '{f:uri.resource(path:\'JavaScript/Translation/snowbabel_columnselection.js\')}',
            5: '{f:uri.resource(path:\'JavaScript/Translation/snowbabel_languageselection.js\')}',
            6: '{f:uri.resource(path:\'JavaScript/Translation/snowbabel_extensionmenu.js\')}',
            7: '{f:uri.resource(path:\'JavaScript/Translation/snowbabel_viewports.js\')}',
            8: '{f:uri.resource(path:\'JavaScript/Translation/snowbabel_app.js\')}'
        }"
			addJsInlineFile="EXT:snowbabel/Resources/Private/Language/locallang_translation.xlf" />
</f:format.raw>