{namespace snowbabel=Snowflake\Snowbabel\ViewHelpers}

<snowbabel:container
		loadExtJs="true"
		loadExtJsTheme="false"
		enableExtJsDebug="true"
		includeCssFiles="{
			0: '{f:uri.resource(path:\'Css/Translation.css\')}'
		}"
		includeJsFiles="{
			0: 'ajax.php?ajaxID=ExtDirect::getAPI&namespace=TYPO3.Snowbabel',
			1: '{f:uri.resource(path:\'Js/Ux/SearchField.js\')}',
			2: '{f:uri.resource(path:\'Js/Ux/Spotlight.js\')}',
			3: '{f:uri.resource(path:\'Js/Miscellaneous/snowbabel_generals.js\')}',
			4: '{f:uri.resource(path:\'Js/Translation/snowbabel_listview.js\')}',
			5: '{f:uri.resource(path:\'Js/Translation/snowbabel_columnselection.js\')}',
			6: '{f:uri.resource(path:\'Js/Translation/snowbabel_languageselection.js\')}',
			7: '{f:uri.resource(path:\'Js/Translation/snowbabel_extensionmenu.js\')}',
			8: '{f:uri.resource(path:\'Js/Translation/snowbabel_viewports.js\')}',
			9: '{f:uri.resource(path:\'Js/Translation/snowbabel_app.js\')}'
		}"
		addJsInlineFile="EXT:snowbabel/Resources/Private/Language/locallang_translation.xlf" />