<script type="text/ng-template" id="modalSettings.html">
	<div class="modal-header">
		<h3 class="modal-title">Settings</h3>
	</div>
	<div class="modal-body">
		<tabset class="snowbabel-settings-tabs">
			<tab>
				<tab-heading>
					<i class="fa fa-list"></i> Extensions
				</tab-heading>

				<f:render partial="Tabs/TabSettingsExtensions"/>

			</tab>
			<tab>
				<tab-heading>
					<i class="fa fa-question-circle"></i> Info
				</tab-heading>
				Get some infos
			</tab>
		</tabset>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>