<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Snowbabel</title>

		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
		<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>


		<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
		<link href="../typo3conf/ext/snowbabel/Resources/Public/Vendors/FontAwesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="../typo3conf/ext/snowbabel/Resources/Public/Vendors/UiBootstrap/0.12.0/ui-additions.css" rel="stylesheet">
		<link href="../typo3conf/ext/snowbabel/Resources/Public/Css/snowbabel.css" rel="stylesheet">

	</head>
	<body>
		<f:render section="content" arguments="{ajaxToken: ajaxToken}"/>
	</body>
</html>